@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
}

/* Scrollbar o'zi */
::-webkit-scrollbar {
  width: 5px;
  height: 12px; 
}

/* Scroll ichidagi track */
::-webkit-scrollbar-track {
  background: #f4f4f4;
  /* border-radius: 10px;  */
}

/* Scroll qismi */
::-webkit-scrollbar-thumb {
  background: #ffba00;
  /* background: #888; */
  /* border-radius: 10px; */
}

/* Hoverda thumb rangi */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hero_bg {
  background: url("/heromainbg.png") center/cover no-repeat;
}
.hero_bgsec2 {
  background: url("/herosec2.png") center/cover no-repeat;
}
.hero_bgsec3 {
  background: url("/herosec3.png") center/cover no-repeat;
}
.footer {
  background: url("/footerbg.png") center/cover no-repeat;
}

.pubg_bg {
  background: url("/pubg_bg.png") center/cover no-repeat;
  height: 456px;
  @media (max-width: 640px) {
    height: 200px;
  }
}
.freefire_bg {
  background: url("/free_fire_bg.png") center/cover no-repeat;
  height: 456px;
  @media (max-width: 640px) {
    height: 200px;
  }
}
.game_bg {
  height: 500px;
  @media (max-width: 640px) {
    height: 200px;
  }
}
.games_bg {
  background: url("/allgamesbg.png") center/cover no-repeat;
  height: 500px;
  @media (max-width: 640px) {
    height: 200px;
  }
}
.main_card {
  background: url("/cardbg.png") center/cover no-repeat;
}

.bg_linear_card {
  background: linear-gradient(180deg, rgba(239, 174, 0, 0) 0%, #efae00 100%);
}
.game__content_bg {
  background: url("/gamecontentbg.svg") top left repeat;
}
.login_bg {
  background: url("/loginbg.png") center/cover no-repeat;
}
