@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --font-readex-pro: "Readex Pro", sans-serif;
}

body {
  font-family: var(--font-readex-pro);
}

.redux_pro {
  font-family: var(--font-roboto-condensed);
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #ffba00;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hero_bg {
  background: url("/heromainbg.png") center/cover no-repeat;
}
.hero_bgsec2 {
  background: url("/herosec2.png") center/cover no-repeat;
}
.hero_bgsec3 {
  background: url("/herosec3.png") center/cover no-repeat;
}
.footer {
  background: url("/footerbg.png") center/cover no-repeat;
}

.pubg_bg {
  background: url("/pubg_bg.png") center/cover no-repeat;
  height: 456px;
  @media (max-width: 640px) {
    height: 200px;
  }
}
.freefire_bg {
  background: url("/free_fire_bg.png") center/cover no-repeat;
  height: 456px;
  @media (max-width: 640px) {
    height: 200px;
  }
}
.game_bg {
  height: 500px;
  @media (max-width: 640px) {
    height: 200px;
  }
}
.games_bg {
  background: url("/allgamesbg.png") center/cover no-repeat;
  height: 500px;
  @media (max-width: 640px) {
    height: 200px;
  }
}
.main_card {
  background: url("/cardbg.png") center/cover no-repeat;
}

.bg_linear_card {
  background: linear-gradient(180deg, rgba(239, 174, 0, 0) 0%, #efae00 100%);
}
.game__content_bg {
  background: url("/gamecontentbg.svg") top left repeat;
}
.login_bg {
  background: url("/loginbg.png") center/cover no-repeat;
}
